TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=

MANTLE_RPC_URL=https://rpc.sepolia.mantle.xyz
MANTLE_CHAIN_ID=5003

DEPLOYER_PRIVATE_KEY=
CONTRACT_ADDRESS=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

SUBGRAPH_URL=

NODE_ENV=production
PORT=3000
ALERT_CHAT_ID=
